<div id="inputdiv">
    <form action="">
        <table>
            
            <tr>
                <td colspan="2"> <label for="">Id : </label></td>
                <td colspan="3"><input type="number" required></td>
            </tr>
            <tr>
                <td colspan="2"><label for="">Medicine : </label></td>
                <td colspan="3"><input type="text" required></td>
            </tr>
            <tr>
                <td colspan="2"><label for="">Manufacture-Date : </label></td>
                <td colspan="3"><input type="date" required></td>
            </tr>
            <tr>
                <td colspan="2"><label for="">Expiry-Date : </label></td>
                <td colspan="3"><input type="date" required></td>
            </tr>
            <tr>
                <td colspan="2"><label for="">Quantity : </label></td>
                <td colspan="3"><input type="number" required></td>
            </tr>
            <tr>
                <td colspan="2"><label for="">Price : </label></td>
                <td colspan="3"><input type="number" required></td>
            </tr>
       
        <tr align="center">
            <td><button class="btn btn-success" id="s">Save</button></td>
            <td><button class="btn btn-success" id="a">Add</button></td>
            <td><button class="btn btn-primary" id="u">Update</button></td>
            <td><button class="btn btn-info" id="f">Find</button></td>
            <td><button class="btn btn-danger" id="d">Delete</button></td>
        </tr>
</table>
</form>
</div>