#inputdiv{
    width:50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
    font-weight: bolder;
    background-color: azure;
}
#inputdiv:hover{
     box-shadow: 2px 2px 4px 4px grey;
}
#inputdiv table{
    width: 45vw;
    height: 75vh;
}
#inputdiv input{
    width: 15vw;
    height: 3vh;
}
