<div style="display: flex;flex-direction: column;">
  <div style="width: 100vw; height: 15vh;display: flex;justify-content: center;align-items: center;">
    <h1 style="display:flex; width:95vw; justify-content: center;align-items: center;background-color: rgb(236, 213, 6);border-radius: 10px;height: 10vh;">
      Medicine DataBase
    </h1>
  </div>
  <div style="display: flex;flex-direction: row;">
  <div style="width: 50vw; display: flex;align-items: center;justify-content: center;">
    <div id="inputdiv">
      <form #medForm="ngForm">
          <table>
              
              <tr>
                  <td colspan="2"> <label for="">Id : </label></td>
                  <td colspan="3"><input type="text" name="medId" #medId="ngModel" ngModel  class="form-control" required></td>
                  
              </tr>
             
              <tr>
                  <td colspan="2"><label for="">Medicine : </label></td>
                  <td colspan="3"><input type="text" name="medName" #medName="ngModel" ngModel  class="form-control" required></td>
                  
              </tr>
              
              <tr>
                  <td colspan="2"><label for="">Manufacture-Date : </label></td>
                  <td colspan="3"><input type="date" name="medManDate" #medManDate="ngModel" ngModel   class="form-control" required></td>
                  
              </tr>
              
              <tr>
                  <td colspan="2"><label for="">Expiry-Date : </label></td>
                  <td colspan="3"><input type="date" name="medExpDate" #medExpDate="ngModel" ngModel  class="form-control" required></td>
                 
              </tr>
              
              <tr>
                  <td colspan="2"><label for="">Quantity : </label></td>
                  <td colspan="3"><input type="text" name="medQuantity" #medQuantity="ngModel" ngModel  class="form-control" required></td>
                  
              </tr>
              
              <tr>
                  <td colspan="2"><label for="">Price : </label></td>
                  <td colspan="3"><input type="text" name="medprice" #medprice="ngModel" ngModel  class="form-control" required></td>
                 
              </tr>
              
         
          <tr align="center">
              <td><button class="btn btn-success" (click)="insertmed(medForm.value)">Add</button></td>
              <td><button class="btn btn-primary" (click)="updateMedicine(medForm.value)">Update</button></td>
              <td><button class="btn btn-warning" (click)="findMedicine(medForm.value)">Find</button></td>
              <td><button class="btn btn-info" (click)="findAllMedicine()">Find All</button></td>
              <td><button class="btn btn-danger" (click)="deleteMedicine(medForm.value)">Delete</button></td>
          </tr>

  </table>
  </form>
  </div>
  </div>
  <div  id="inputdiv1">
    <h1>Medicine Details</h1>
    <div id="disp" *ngIf="flag2">
        <table>
            <tr>
                <th>Id</th>
                <th>Medicine</th>
                <th>Manf Date</th>
                <th>Expiry-Date</th>
                <th>Price</th>
            </tr>
            <tr>
              <td>{{medicine.id}}</td>
              <td>{{medicine.MName}}</td>
              <td>{{medicine.MManDate}}</td>
              <td>{{medicine.MExpDate}}</td>
              <td>{{medicine.MQuantity}}</td>
              <td>{{medicine.Mprice}}</td>
            </tr>
        </table>
        
    </div>
    <div id="disp" *ngIf="flag">
      <table>
          <tr>
              <th>Id</th>
              <th>Medicine</th>
              <th>Manf Date</th>
              <th>Expiry-Date</th>
              <th>Price</th>
          </tr>
          <tr *ngFor="let medi in medicinearr">
            <td>{{medicine.id}}</td>
            <td>{{medicine.MName}}</td>
            <td>{{medicine.MManDate}}</td>
            <td>{{medicine.MExpDate}}</td>
            <td>{{medicine.MQuantity}}</td>
            <td>{{medicine.Mprice}}</td>
          </tr>
      </table>
      
  </div>
  </div>
  </div>
  </div>