<div style="display: flex;flex-direction: column;">
  <div style="width: 100vw; height: 15vh;display: flex;justify-content: center;align-items: center;">
    <h1 style="display:flex; width:95vw; justify-content: center;align-items: center;background-color: rgb(236, 213, 6);border-radius: 10px;height: 10vh;">
      Medicine DataBase
    </h1>
  </div>
  <div style="display: flex;flex-direction: row;">
  <div style="width: 50vw; display: flex;align-items: center;justify-content: center;">
    <div id="inputdiv">
      <form #medForm="ngForm">
          <table>
              
              <tr>
                  <td colspan="2"> <label for="">Id : </label></td>
                  <td colspan="3"><input type="text" name="medId" #medId="ngModel" ngModel required class="form-control"></td>
                  
              </tr>
             
              <tr>
                  <td colspan="2"><label for="">Medicine : </label></td>
                  <td colspan="3"><input type="text"  #medName="ngModel" ngModel required class="form-control"></td>
                  
              </tr>
              
              <tr>
                  <td colspan="2"><label for="">Manufacture-Date : </label></td>
                  <td colspan="3"><input type="date"  #medManDate="ngModel" ngModel  required class="form-control"></td>
                  
              </tr>
              
              <tr>
                  <td colspan="2"><label for="">Expiry-Date : </label></td>
                  <td colspan="3"><input type="date"  #medExpDate="ngModel" ngModel  required class="form-control"></td>
                 
              </tr>
              
              <tr>
                  <td colspan="2"><label for="">Quantity : </label></td>
                  <td colspan="3"><input type="text"  #medQuantity="ngModel" ngModel required class="form-control"></td>
                  
              </tr>
              
              <tr>
                  <td colspan="2"><label for="">Price : </label></td>
                  <td colspan="3"><input type="text"  #medprice="ngModel" ngModel  required class="form-control"></td>
                 
              </tr>
              
         
          <tr align="center">
              <td><button class="btn btn-success" (click)="insertmed(medForm.value)">Add</button></td>
              <td><button class="btn btn-primary">Update</button></td>
              <td><button class="btn btn-warning">Find</button></td>
              <td><button class="btn btn-info">Find All</button></td>
              <td><button class="btn btn-danger">Delete</button></td>
          </tr>

  </table>
  </form>
  <h1>{{result}}</h1>
  </div>
  </div>
  <div  id="inputdiv1">
    <div id="disp">
      <h1>Medicine Details</h1>
      <table>
          <tr>
              <th>Id</th>
              <th>Medicine</th>
              <th>Manf Date</th>
              <th>Expiry-Date</th>
              <th>Price</th>
          </tr>
          <tr>
              <td>1</td>
              <td>Painkiller</td>
              <td>12/08/2024</td>
              <td>05/5/2025</td>
              <td>Rs 70</td>
          </tr>
      </table>
      
  </div>
  </div>
  </div>
  </div>